<form [formGroup]="cadastroForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome" formControlName="fullName">
            <mat-error *ngIf="cadastroForm.controls['fullName'].hasError('required')">
              Nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="cadastroForm.controls['email'].hasError('required')">
              Email é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Telefone" formControlName="phone"></textarea>
            <mat-error *ngIf="cadastroForm.controls['phone'].hasError('required')">
              Telefone é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Senha" type="password" formControlName="password">
            <mat-error *ngIf="cadastroForm.controls['password'].hasError('required')">
              Senha é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Digite a senha novamente" type="password" formControlName="confirmPassword">
            <mat-error *ngIf="cadastroForm.hasError('mismatch')">
              As senhas não correspondem
            </mat-error>
            <mat-error *ngIf="cadastroForm.controls['confirmPassword'].hasError('required')">
              Confirmação de senha é <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Cadastrar</button>
    </mat-card-actions>
  </mat-card>
</form>
